
body{
    padding: 0;
    margin: 0;
    width: 100%;
}

.container{
    width: 50%;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    padding-top: 1rem;
    margin: auto;
    margin-top: 1rem;
    box-shadow: 3px 3px 3px gray, -3px -3px 3px gray;
}

.form-Group{
    padding: .5rem 1rem;
}

.content-Right{
    width: 25rem;
}

h1{
    text-align: center;
    font-size: 1.4rem;
    padding-bottom: .8rem;
    padding-top: .7rem;
    color: royalblue;
    background-color: rgb(248, 205, 200);
}

#btnSubmit{
    justify-content: center;
}

.content-Left .btnSubmit{
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
}

.content-Left{
    border-right: .5px solid rgb(224, 224, 224);
}

.content-Submit{
    padding: 1rem 2rem;
}

.content-Submit label{
    font-size: 1.1rem;
}